openapi: 3.0.3
authors:
  - name: Kulmiye Polyclinic Pharmacy
    url: https://kulmiye.health
info:
  title: Kulmiye Pharmacy e‑Prescription API
  version: 0.1.0
  description: |
    Submit electronic prescriptions securely to Kulmiye Polyclinic Pharmacy.
    This draft spec supports basic Rx submission and status retrieval.
servers:
  - url: https://api.kulmiye.health
    description: Production
  - url: https://sandbox.kulmiye.health
    description: Sandbox
paths:
  /v1/prescriptions:
    post:
      summary: Submit e‑prescription
      operationId: submitPrescription
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Prescription'
      responses:
        '202':
          description: Accepted for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrescriptionAck'
        '400': { description: Bad request }
        '401': { description: Unauthorized }
        '409': { description: Duplicate or conflict }
  /v1/prescriptions/{id}:
    get:
      summary: Get prescription status
      operationId: getPrescriptionStatus
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Current status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrescriptionStatus'
        '404': { description: Not found }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Prescription:
      type: object
      required: [id, issuedAt, patient, prescriber, items]
      properties:
        id: { type: string, example: RX-2098 }
        issuedAt: { type: string, format: date-time }
        patient:
          type: object
          required: [id, name]
          properties:
            id: { type: string }
            name: { type: string }
            dateOfBirth: { type: string, format: date }
        prescriber:
          type: object
          required: [id, name]
          properties:
            id: { type: string }
            name: { type: string }
            clinic: { type: string }
        items:
          type: array
          minItems: 1
          items:
            type: object
            required: [drugCode, name, dosage, quantity]
            properties:
              drugCode: { type: string, description: ATC or local code }
              name: { type: string }
              dosage: { type: string, example: 500mg }
              instructions: { type: string, example: Take one tablet twice daily }
              quantity: { type: integer, minimum: 1 }
              repeats: { type: integer, minimum: 0, default: 0 }
    PrescriptionAck:
      type: object
      properties:
        id: { type: string }
        status: { type: string, enum: [accepted, rejected] }
        message: { type: string }
    PrescriptionStatus:
      type: object
      properties:
        id: { type: string }
        status: { type: string, enum: [received, processing, ready, dispensed, rejected] }
        updatedAt: { type: string, format: date-time }
